<html>
    <head>
        <title>List Of things to Pack</title>
        <script 
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

        <script src="/assets/toPack-list.js"></script>

        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <h1>My List of Items to Pack</h1>
        <div id="topack-table">
            <form>
                <input type="text" name="item" placeholder="Add a new item..." required />
                <button type="submit"> Add Item</button>
            </form>
        <ul>
            <% for(var i=0; i< things.length; i++){ %>
                <li><%= things[i].item %></li>
            <% } %>
        </ul>

        </div>
    </body>
</html>